@import "../../styles/variables";

body {
  font-family: monospace;
  background: linear-gradient(0deg, $primary 0.03%, $accent);
  color: $foreground;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 30px;
  height: 120vh;
}
.App {
  text-align: center;
  height: 100vh;

}







